.month-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  .month-row {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 216);
    font-size: 1.2rem;
    padding: 8px;
  }

  .days-row {
    &:nth-child(2n) {
      background: rgba(230, 216, 216, 0.3);
    }
    display: flex;

    .day {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      padding: 8px;
      width: 120px;
      height: 100px;

      &:nth-child(1) {
        border-left: 1px solid transparent;
      }
      &:last-child {
        border-right: 1px solid transparent;
      }

      .day-row {
        .day-value {
          color: rgb(83, 66, 39);
          font-size: 0.75rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          display: flex;
          font-weight: 600;
          justify-content: center;
          align-items: center;
          padding: 5px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }
      }
    }

    &:nth-child(1) {
      .day {
        flex: 1;
        height: 20px;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
      }
    }

    &:last-child {
      .day {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
